// Mixins in here

//mixin for buttons

.custom-btn(@button-bg, @font-color, @font-size) {
    background-color: @button-bg;
    margin: 0 10px 20px;
    cursor: pointer;
    height: 45px;
    color: @font-color;
    font-size: @font-size;
}