// Navigation Styles here

nav {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed @navigation-border;

        .logo {
            width: 50%;
        }//this closes logo
    }//this closes the nav

    a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: @shark;
        font-size: 1.5rem;
    }//this closes the links